<div class="container" id="post-container">
  <h1><%= @post.title %></h1>
  <p><%= @post.body %></p>

  <div class="buttons">
    <button>
      <%= link_to "Edit post", edit_post_path %>
    </button>

    <button>
      <%= link_to "Delete post", post_path, data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                      } %>
    </button>
</div>
</div>

<hr>

<hr>

<div class="comments">
  <h3>Comments:</h3>

  <table>
    <tr>
      <th>Commenter</th>
      <th>Comment</th>
    </tr>
    
    <%= render @post.comments %>
    
  </table>


  <hr>

  <h2>Add a comment:</h2>

  <%= render 'comments/form' %>
</div>